<div th:fragment="perfil(variable)">
	<nav class="navbar navbar-light bg-primary ">
		<div class="d-flex  flex-row   align-items-center bd-highlight">
			<img width="50px" height="50px" class="rounded float-left "
				th:src="@{/img/logopng.png}" alt="">
			<h5 class="text-white font-weight-bold"
				style="padding-left: 10px; margin: 0px;">Lista de Tareas</h5>

		</div>

		<div class="mr-3">

			<div th:if="${variable == 'noingreso'}">
				<div class="theme-toggle">
					<h2></h2>
					<label class="switch "> <input class="button-dark" type="checkbox" checked="checked"> <span class="slider"></span>
					</label>
				</div>
			</div>

			<div th:if="${variable == 'ingreso'}">
				<div sec:authorize="isAuthenticated()" style="color: white">

					<div class="dropdown">

						<button class="btn btn-primary dropdown-toggle" type="button"
							id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false" th:text="${nombre}"></button>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item btn btn-danger" href="/logout">Cerrar
								Sesion</a> <a class="dropdown-item" href="#">Another action</a> <a
								class="dropdown-item" href="#">Something else here</a>
						</div>
						<img height="25px" width="25px" style="border-radius: 50%;"
							alt="no img" th:src="${fotoPerfil}">
					</div>





				</div>


			</div>

		</div>
	</nav>
</div>