<div th:fragment="perfil(variable)">
	<nav class="navbar navbar-light bg-primary ">
		<div class="d-flex  flex-row   align-items-center bd-highlight">
			<img width="50px" height="50px" class="rounded float-left "
				th:src="@{/img/logopng.png}" alt="">
			<h5 class="text-white font-weight-bold"
				style="padding-left: 10px; margin: 0px;">Lista de Tareas</h5>

		</div>
		
		<div class="mr-3">

			<div th:if="${variable == 'noingreso'}" >
			<button type="button" class="btn btn-primary">
				<span class="font-weight-bold text-white">INICIAR SESION</span>
			</button>
			</div>
			
			<div th:if="${variable == 'ingreso'}" >
			<div sec:authorize="isAuthenticated()" style="color:white">
       Hola <span th:text="${nombre}"></span>
       <img height="25px" width="25px" alt="no img" th:src="${fotoPerfil}">
       </div>
       
			<a style="color:white" href="/logout">Cerrar Sesion</a>
			</div>
			
		</div>
	</nav>
</div>