<div th:fragment="team" class="d-flex align-items-center justify-content-center" style="width: 100%">

		<div  class="card  mt-3" style="width: 22rem; border: none">
			<img class="card-img-top" th:src="@{/img/noTeam4.jpg}"
				alt="Card image cap">
			<div class="card-body ">
				<h3 class="card-text font-weight-bold text-center"> NO
					TIENES EQUIPO</h3>
			</div>
			
			<a href="#" class="btn btn-primary">Crear un team</a>
			
			<a href="#" class="btn btn-outline-primary mt-3">Entrar a un team</a>
		</div>

</div>