<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" data-dark>
<head>

<title>Document</title>


<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/estilos/estilos.css}">



</head>
<body data-dark>


	<div th:replace="fragments/header :: perfil('noingreso')"></div>

	<form th:action="@{/login/oauth2/authorization/google}" method="post">

		<main
			class="d-flex align-items-center  justify-content-center  main w-100">
			<div
				class="d-flex flex-column   align-items-center justify-content-between container-main">
				
				<h4 class="text-black font-weight-bold label-3 text-center">INICIAR SESION</h4>
					
				<img  width="470px" height="400px" th:src="@{/img/noTeam4.jpg}"alt="" >

				<button  data-dark-secondary class="google-btn">
					<div class="google-icon-wrapper">
						<img class="google-icon-svg"
							src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
					</div>
					<p data-dark-secondary class="btn-text">
						<b>Sign in with Google</b>
					</p>
				</button>

			</div>
		</main>

	</form>

	<footer data-dark-secondary class="footer text-center py-3 ">
		2020 - Creado por: 
		<a href="https://www.linkedin.com/in/jonathan-quilca-valenzuela/">
			JONATHAN QUILCA VALENZUELA</a>
	</footer>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>

<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
	
	<script th:src="@{/js/scriptIndex.js}"></script>
</html>